<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Set URL -->
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/telegram?serverTimezone=UTC</property>
        <!-- Set User Name -->
        <property name = "hibernate.connection.username">sammy</property>
        <!-- Set Password -->
        <property name = "hibernate.connection.password">password</property>
        <!-- Set Driver Name -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="com.viettel.entity.SaleTrans" />
        <mapping class="com.viettel.entity.Price" />
        <mapping class="com.viettel.entity.TelegramUser" />
    </session-factory>
</hibernate-configuration>